{% extends 'base.html' %}

{% block title %} Мой профиль: {{ user_profile.user.username }} {% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2 class="mb-4">Мой профиль: {{ user_profile.user.username }}</h2>
            <div class="card">
                <div class="card-body">
                    {% if user_profile.profile_picture %}
                    <img src="{{ user_profile.profile_picture.url }}" alt="" class="img-fluid rounded-circle"
                         width="150" height="150">
                    {% else %}
                    <img src="https://img.wattpad.com/8f19b412f2223afe4288ed0904120a48b7a38ce1/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f5650722d38464e2d744a515349673d3d2d3234323931353831302e313434336539633161633764383437652e6a7067"
                         alt="" class="img-fluid rounded-circle" width="150" height="150">
                    {% endif %}
                    <p><strong>Email:</strong> {{ user_profile.user.email }}</p>
                    <p><strong>Имя:</strong> {{ user_profile.user.first_name }}</p>
                    <p><strong>Фамилия:</strong> {{ user_profile.user.last_name }}</p>
                    <p><strong>Телефон:</strong> {{ user_profile.user.phone_number }}</p>
                    <p><strong>Дата рождения:</strong> {{ user_profile.user.birthdate }}</p>
                    <p><strong>О себе:</strong> {{ user_profile.user.bio }}</p>
                    <p><strong>Любимые жанры:</strong>
                        {% if user_profile.favorite_genres.all %}
                        {% for genre in user_profile.favorite_genres.all %}
                        {{ genre.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                        {% else %}
                        Нет указанных жанров
                        {% endif %}
                    </p>
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary btn-sm">Редактировать профиль</a>

                </div>
            </div>
            <br>
            <h3>Друзья:</h3>
            <ul class="list-group">
                {% for friend in user.user_profile.get_friends %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{% if friend.user == user_profile.user %}
                                {{ friend.friend.user_profile.get_absolute_url }}
                            {% else %}
                                {{ friend.user.user_profile.get_absolute_url }}
                            {% endif %}"
                       style="color: inherit; text-decoration: none;">
                        {% if friend.user == user_profile.user %}
                        {{ friend.friend.username }}
                        {% else %}
                        {{ friend.user.username }}
                        {% endif %}
                    </a>
                    <a href="{% if friend.user == user_profile %}{{ friend.friend.user_profile.get_absolute_url }}{% else %}{{ friend.user.user_profile.get_absolute_url }}{% endif %}"
                       class="btn btn-primary btn-sm">
                        Перейти на профиль
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
