{% extends "base.html" %}

{% block content %}
<style>
    .message-box {
        max-width: 70%;
        display: inline-block;
        margin-bottom: 15px;
    }

    .message-content {
        padding: 8px 15px;
        border-radius: 15px;
        display: inline-block;
    }

    .message-sent {
        background-color: #007BFF; /* Primary color */
        color: white;
        float: right;
    }

    .message-received {
        background-color: #E9ECEF; /* Light gray */
        color: black;
    }

    .timestamp {
        margin-top: 5px;
    }
</style>

<main class="container mt-5">
    <h2 class="text-center">{{ chatroom }}</h2>

        <div class="d-flex justify-content-between mb-3">
            <a href="{% url 'edit_chatroom' chatroom.id %}" class="btn btn-warning">Редактировать чат</a>
            <a href="{% url 'delete_chatroom' chatroom.id %}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить этот чат?');">Удалить чат</a>
        </div>

        {% if messages %}
        <div class="alert alert-{{ messages.tags }} mt-3">
            <ul class="m-0">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


    <div class="chat-box p-3 my-4 border rounded bg-white">
        <ul class="list-unstyled">
            {% for message in message_list %}
                <li class="mb-3 {% if message.sender == user %}text-end{% endif %}">
                    {% if message.sender.user_profile.profile_picture %}
                        <img src="{{ message.sender.user_profile.profile_picture.url }}" alt="" class="rounded-circle" width="32" height="32">
                    {% else %}
                        <img src="https://cdn-icons-png.flaticon.com/512/666/666201.png" alt="User Icon" class="rounded-circle" width="32" height="32">
                    {% endif %}

                    <strong>{{ message.sender.username }}</strong><br>
                    <div class="message-box">
                        <span class="message-content {% if message.sender == user %}message-sent{% else %}message-received{% endif %}">
                            {% if message.book_shared %}
                                <div class="media">
                                    <img class="mr-3 img-fluid" style="max-width: 200px; height: auto;" src="{% if message.book_shared.cover_image %}{{ message.book_shared.cover_image.url }}{% else %}https://images.unsplash.com/photo-1589998059171-988d887df646?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80{% endif %}" alt="">
                                    <div class="media-body overflow-auto">
                                        <a href="{{ message.book_shared.get_absolute_url }}" class="text-white">{{ message.content }}</a>
                                    </div>
                                </div>
                            {% else %}
                                {{ message.content }}
                            {% endif %}
                        </span>
                        <div class="text-muted timestamp" style="margin-top: 50px;"><small>{{ message.timestamp }}</small></div>
                    </div>


                </li>
            {% endfor %}
        </ul>
    </div>

    <form method="post" action="{% url 'send_message' chatroom.id %}">
        {% csrf_token %}
        <h3>Отправить сообщение:</h3>
        <div class="mb-3">
            <textarea class="form-control" name="content" placeholder="Введите ваше сообщение:" rows="3" required></textarea>
        </div>
        <div class="mb-3 text-end">
            <input type="submit" class="btn btn-primary" value="Отправить">
        </div>
    </form>
</main>
{% endblock %}
