{% extends "base.html" %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="room_name">Название беседы:</label>
    <input type="text" name="room_name" value="{{ chatroom.room_name }}" required><br><br>

    <label for="users">Выберите участников:</label><br>
    {% for user in users %}
    <input type="checkbox" name="users" value="{{ user.id }}"
           {% if user in chatroom.participants.all %} checked {% endif %}>
           {{ user.username }}<br>
    {% endfor %}

    <input type="submit" value="Обновить беседу">
</form>
{% endblock %}
