{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Добавление жанра</h1>

    {% if messages %}
    <div class="alert alert-danger">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

    <a href="{% url 'genre_list' %}" class="btn btn-secondary mt-3">Вернуться к жанрам</a>
</div>
{% endblock content %}
